* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(41, 39, 39);
  padding: 2% 15% 2% 15%;
  box-sizing: border-box;
}
input {
  display: none;
}
label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 5rem;
  cursor: pointer;
  background: transparent;
  border-radius: 33%;
}
label div {
  display: flex;
  width: 2rem;
  height: 1rem;
  border-radius: 33%;
  background-color: #fff;
  opacity: 1;

  border: 5px solid transparent;
  transition: all 0.4s;
  box-sizing: content-box;
}
label:hover div {
  transform: scale(0.8);
  opacity: 0.6;
}

.navigation {
  display: flex;
  column-gap: 1em;
}
.slider__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.slider__image {
  width: 100%;
  height: 80%;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 1px 4px 28px 16px rgba(186, 147, 195, 0.2);
}
.slider__image-all {
  display: flex;
  width: 400%;
  height: 100%;
  transition: all 1.2s;
}
.slider__image-all div {
  width: 25%;
  height: 100%;
}
.slider__image-all div > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 1s ease-in-out;
}
.slider__controls {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  column-gap: 5%;
  overflow: hidden;
}
.slide1,
.slide2,
slide3,
slide4 {
  transition: all 1s ease-in-out;
}
#slide1:checked ~ .slider__image > .slider__image-all {
  transform: translateX(0);
}
#slide1:checked ~ .slider__controls > .navigation label[for="slide1"] div {
  background: rgb(95, 131, 197);
}
#slide1:checked ~ .slider__controls > .text .text1 {
  opacity: 1;
  transform: translate(0);
}
#slide2:checked ~ .slider__image > .slider__image-all {
  transform: translateX(-25%);
}
#slide2:checked ~ .slider__controls > .navigation label[for="slide2"] div {
  background: rgb(95, 131, 197);
}
#slide2:checked ~ .slider__controls > .text .text2 {
  opacity: 1;
  transform: translate(0);
}
#slide3:checked ~ .slider__image > .slider__image-all {
  transform: translateX(-50%);
}
#slide3:checked ~ .slider__controls > .navigation label[for="slide3"] div {
  background: rgb(95, 131, 197);
}
#slide3:checked ~ .slider__controls > .text .text3 {
  opacity: 1;
  transform: translate(0);
}
#slide4:checked ~ .slider__image > .slider__image-all {
  transform: translateX(-75%);
}
#slide4:checked ~ .slider__controls > .navigation label[for="slide4"] div {
  background: rgb(95, 131, 197);
}
#slide4:checked ~ .slider__controls > .text .text4 {
  opacity: 1;
  transform: translate(0);
}
.text {
  display: grid;
  margin-top: 1rem;
}

.text1,
.text2,
.text3,
.text4 {
  grid-column: 1;
  grid-row: 1;
  transition: all 1s ease-in-out;
  opacity: 0;
  transform: translate(-200%);
}
.text span {
  font-size: 32px;
  font-style: italic;
  color: #fff;
}
@media (max-width: 1740px) {
  body {
    padding: 2% 5% 2% 5%;
  }
}
@media (max-width: 1200px) {
  .slider__wrapper {
    justify-content: start;
    row-gap: 5%;
  }
  .text {
    order: 2;
  }
  .navigation {
    order: 1;
  }
  .slider__controls {
    flex-direction: column;
    height: 20%;
    align-items: center;
    justify-content: start;
    row-gap: 10%;
  }

  label {
    width: 1rem;
    height: 1rem;
    border-radius: 33%;
  }
  label div {
    display: flex;
    width: 0.4rem;
    height: 0.1rem;
  }
}
@media (max-width: 711px) {
  body {
    padding: 10% 3%;
    height: 70vh;
  }
  .slider__wrapper {
    justify-content: start;
    row-gap: 5%;
  }
  .slider__image {
    height: 65%;
  }

  .text span {
    font-size: 16px;
  }
}
